@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2> Hola Mundo Alexis Albarracin </h2>
    <center>
		<img src="~/Images/net.png" alt="Net">
    </center>
   
   <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> 


